<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- bootstrap.js의 경우 제이쿼리에 의존하기 때문에 부트스트랩 보다 제이쿼리를 먼저 호출한다.-->
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<!--스프링부트는 기본적으로 src/main/resources/static에 위치한 정적 파일들은 URL에서 /로 설정-->
</body>
</html>